html, body  { 
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #222;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
p {
	margin: 1em;
}
.content-screen {
	width: 100%;
	min-height: 100%;
	display: flex;
	background-color: white;
}
.content-container {
	display: flex;
	flex: 1;
	/*border: 1px black dashed;
	padding:.5em;
	margin:.5em;*/
}
.content {
	flex: 1;
	overflow: hidden;
	display: flex;
	justify-content:center;
	align-items:center;
	/*border: 1px #ccc solid;*/
	/*min-height: 100px;*/
}

.vertical {
	flex-direction: column;
}

.horizontal {
	flex-direction: row;
}

.imageFrame {
	position: relative;
	width:100%;
	background: bruh no-repeat center center; 
  	background-size: auto 100%;
  	background-size: cover;
}

.img {
	flex: 0 0 0;
	position: absolute;
}

/* example
#img {
	background: bruh no-repeat center center; 
  	background-size: auto 100%;
  	background-size: cover;
}
*/
