html, body  { 
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #171717;
	text-align: center;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
p {
	margin: 1em;
	margin-top: 1.5em;
	color: rgb(204, 204, 204);
	font-size: 30px;
	font-weight: 300;
	font-family: 'Open Sans' 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#root-div {
	display: flex;
	justify-content:center;
}

.content-screen {
	align-self center;
	width: 100%;
	max-width: 1200px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.content-container {
	display: flex;
	flex: 1;
	/*border: 1px black dashed;
	padding:.5em;
	margin:.5em;*/
}
.content {
	flex: 1;
	overflow: hidden;
	display: flex;
	justify-content:center;
	align-items:center;
	/*border: 1px #ccc solid;*/
	/*min-height: 100px;*/
}

.vertical {
	flex-direction: column;
}

.horizontal {
	flex-direction: row;
}

.imageFrame {
	position: relative;
	width:100%;
	background: bruh no-repeat center center; 
  	background-size: auto 100%;
  	background-size: cover;
}

.content-pane {
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	margin: 1em;
}

.content-row {
	display: flex;
	justify-content:space-around;
	border: 0px solid #333;
	
}

.content-piece {
	margin: 10px;
	height: 375px;
	width: 375px;
}

.cont-image {
	flex: 1;
	overflow: hidden;
	display: flex;
	justify-content:center;
	align-items: center;
}

.cont-text {
	text-align: left;
	flex: 1 0 0;
	background: #333;
}


/* example
#img {
	background: bruh no-repeat center center; 
  	background-size: auto 100%;
  	background-size: cover;
}
*/
