body {
	font-family: "Bauhaus 93", Georgia,  "sans-serif";
	text-align: center;
}

button {
    font-family: inherit;
    background-color: #FFFFFF;
    border: solid 1px #000000;
    outline: none;
    font-size: 1em;
}

button:hover {
	border-width: 2px;
}

div#colors-container {
	border: solid 10px #888888;
	margin:auto;
	width: 90%;
	max-width: 900px;
}

div.colpane {
	display: block;
	margin:auto;
	padding-top: 9%;
	padding-bottom: 9%;
	width: 100%;
	color:rgba(0,0,0,0);
	text-shadow: 0 1px 3px rgba(0,0,0,0);
}
div.colpane:hover {
	color:#FFF;
	text-shadow: 0 1px 3px rgba(50,50,50,1);
}