body {
	font-family: "Bauhaus 93"  "sans-serif";
	text-align: center;
}

div#colors-container {
	border: solid 10px #888888;
	margin:auto;
	width: 90%;
}

div.colpane {
	display: block;
	height:20%;
	margin:auto;
	width: 100%;
}